*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/*
.DS_Store
/app/build/*
/app/release/*
/build/*
/app/*.apk
/captures
/app/build/
/.idea/
/.idea/caches/
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/libraries/
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/codeStyles/
